body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set body height to viewport height */
}

h1 {
    font-size: 1.5rem; /* Adjusted font size */
    margin-top: 0;
}

#weights-container, #bars-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.weight, .barbell {
    cursor: pointer;
    transition: transform 0.1s; /* Smooth transformation on click */
}

.weight:active, .barbell:active {
    transform: scale(0.9); /* Slightly reduce size when clicked */
}

/* Small devices (phones) */
@media (max-width: 600px) {
    .weight, .barbell {
        width: 20%; /* Dynamic width */
        max-width: 75px; /* Maximum size */
        min-width: 45px; /* Minimum size */
        margin: 4px;
    }

    h1 {
        font-size: 1.2rem; /* Smaller font size */
    }
}

/* Medium devices (tablets in portrait mode) */
@media (min-width: 600px) and (max-width: 768px) {
    .weight, .barbell {
        width: 20%;
        max-width: 90px;
        margin: 5px;
    }
}

/* Large devices (tablets in landscape mode) */
@media (min-width: 768px) {
    .weight, .barbell {
        width: 15%;
        max-width: 100px;
        margin: 5px;
    }
}

/* Extra Large devices (large tablets, laptops) */
@media (min-width: 992px) {
    .weight, .barbell {
        width: 10%;
        max-width: 120px;
        margin: 8px;
    }
}

#total-weight, #clear-button {
    font-size: 1rem; /* Smaller font size */
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#clear-button {
    padding: 5px 10px;
    margin-top: 0; /* Adjusted margin */
}

#current-setup {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#current-bar-container, #current-weights-container {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    min-height: 150px;
}

#current-bar-container img, #current-weights-container img {
    max-width: 100%; /* Ensures image does not exceed container width */
    height: auto; /* Keeps the aspect ratio of the image */
    max-height: 150px; /* Adjust this to fit the size you want */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
