body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Viewport height to ensure no scrolling */
    background-color: #f7f7f7; /* Optional background color */
}

h1 {
    font-size: 4vw; /* Responsive font size */
    margin: 1vw 0; /* Responsive margin */
}

/* Weights and barbells */
.weight, .barbell {
    width: 15vw; /* Responsive width based on viewport width */
    margin: 2vw; /* Responsive margin based on viewport width */
    cursor: pointer;
    transition: transform 0.2s; /* For a click effect */
}

.weight:active, .barbell:active {
    transform: scale(0.9); /* Click effect to scale down */
}

/* Containers for barbells and weights */
#current-setup {
    flex: 1; /* Takes up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers children vertically */
    align-items: center; /* Centers children horizontally */
    gap: 2vw; /* Adds space between children */
}

/* Specific container for the selected barbell */
#current-bar-container {
    width: 80vw; /* Takes up a percentage of the viewport width */
    height: 15vh; /* Percentage of viewport height */
}

/* Specific container for the selected weights */
#current-weights-container {
    flex-wrap: wrap;
    overflow: auto; /* Allows scrolling inside the container if necessary */
    height: 15vh; /* Percentage of viewport height */
}

/* Total weight display */
#total-weight {
    font-size: 4vw; /* Responsive font size */
    position: relative;
    top: 1vw; /* Small offset from the top */
}

/* Clear button */
#clear-button {
    padding: 2vw;
    font-size: 3.5vw; /* Responsive font size */
}

/* Image styling for weights and barbells in the selection area */
img.display-weight {
    width: 14vw; /* Slightly less than .weight and .barbell to fit two side by side */
    margin: 1vw;
    transition: transform 0.2s; /* For a subtle click effect */
}

img.display-weight:active {
    transform: scale(0.9); /* Click effect to scale down */
}

@media (min-width: 768px) {
    /* Adjustments for larger devices like tablets */
    .weight, .barbell {
        width: 10vw;
        margin: 1vw;
    }

    img.display-weight {
        width: 9vw;
    }

    h1 {
        font-size: 3vw;
    }

    #total-weight {
        font-size: 3vw;
    }

    #clear-button {
        font-size: 2.5vw;
    }

    #current-bar-container, #current-weights-container {
        height: 20vh;
    }
}
